<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>iNews</title>
    <link rel="icon" href="./img/favicon.ico" type="image/x-icon">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>

  <body style="padding-top: 56px;">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <h1><b>[<span style="color: orange;">IN</span>]<span style="color:  lightgreen;">ews</span></b></h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Go to Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container" style="overflow: auto;">
      <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
          <h2 class="my-4">Top Headlines
            <small>Sports</small>
          </h2>
          <!-- Blog Post -->
          <div class="container"> 
            {% for title, des, img, auth, pubat, url in mylist %}
            <div class="card mb-4">
              <img class="card-img-top" src="{{img}}" alt="Card image cap">
              <div class="card-body">
                <h2 class="card-title">{{title}}</h2>
                <p class="card-text">{{des}}</p>
                <a href="{{url}}" class="btn btn-primary">Read More &rarr;</a>
              </div>
              <div class="card-footer text-muted">
                Posted on {{pubat}} by
                <p>{{auth}}</p>
              </div>
            </div>
            {% endfor %}
          </div>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4"  style="overflow: hidden;">

            <!-- Search Widget -->
            <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
                <div class="input-group">
                <form action="/search/" method="POST">
                    {% csrf_token %}
                    <input type="text" class="form-control" name="search_for" placeholder="Search for...">
                    <span class="input-group-append">
                    <button class="btn btn-secondary" type="submit" value="submit">Go!</button>
                    </span>
                </form>
                </div>
            </div>
          </div>
      </div>


      <!-- /.row -->
      <nav aria-label="..."  style="margin-left: 26%">
        <ul class="pagination">
            {% if page_no is 1 %}
              <li class="page-item disabled">
                <a class="page-link" onclick="func(-1, {{page_no}})">Previous</a>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" onclick="func(-1, {{page_no}})">Previous</a>
              </li>
            {% endif %}

          <li class="page-item">
            <a class="page-link" onclick="func(1, {{page_no}})">Next</a>
          </li>
        </ul>
      </nav>

    </div>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-3 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; <b><span style="color: orange;">IN</span><span style="color:  lightgreen;">ews</span></b> 2020</p>
      </div>
      <!-- /.container -->
    </footer>
    <script>
      function func(i, page_no){
        page_no = Number(page_no)+i
        // console.log(page_no)
        window.location.href="?page_no="+page_no;
      }
    </script>

    <!-- Bootstrap core JavaScript -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>

</html>
